# Build output
bin/
build/

assets/
output/
third_party/
ray/

# Object files, libraries, and archives
*.o
*.a
*.so
*.obj
*.lib
*.dll
*.exe

# Core dumps
core

# IDE-specific files
*.vscode/
*.vs/

# Python cache
__pycache__/

# venv
ray/