

[dynamixel]
protocol_version = 2.0
device_name = "/dev/ttyUSB0"

ids = [1, 2, 3, 4, 5]   # Pitch, Roll_R, Roll_L, Yaw, Mouth
baudrate = 2000000      # 9600, 57600, 115200, 1000000, 2000000, 3000000, 4000000, 4500000
is_time_based = true    # true: Time-based, false: Velocity-based
operating_mode = 4      # 1: Velocity, 3: Position, 4: Extended Position, 16: PWM
return_delay_time = 0

profile_velocity_homing = 2000   # 기기 부팅 시 초기 위치로 이동할 때 속도
profile_velocity = 60
profile_acceleration = 0

pos_p_gain = [500, 500, 500, 500, 500]
pos_i_gain = [0, 0, 0, 0, 0]
pos_d_gain = [0, 0, 0, 0, 0]
ff1_gain = [0, 0, 0, 0, 0]
ff2_gain = [0, 0, 0, 0, 0]

[robot]
# 모터 초기 위치
# 1호기
default_pitch   = 3480      #before default_pitch:  1410
default_roll_r  = 1985      #before default_roll_r: 900
default_roll_l  = 1370      #before default_roll_l: 1300
default_yaw     = 1000      #before default_yaw:    1000
default_mouth   = 3100      #before default_mouth:  4000

# 2호기
#default_pitch   = 1186
#default_roll_r  = 2933
#default_roll_l  = 4040
#default_yaw     = 2085
#default_mouth   = 2211

#robot parameter
pulley_diameter = 40
height = 110                        # 베이스부터 실이 연결된 레이어 까지의 높이 small -> 100,Large -> 180
hole_radius = 25                    # 로봇 머리 구멍 반지름 small -> 25, Large -> 50
yaw_gear_ratio = 1                  # yaw 모터가 direct하게 머리를 회전시킨다면 1로 설정 아니면 2
mouth_back_compensation = 1.0       # 입 움직임에 대한 뒷쪽 보상 -> TRO 논문 참조  small -> 1.2, Large -> 1.5
mouth_pitch_compensation = 1.0      # pitch 에 따른 입 움직임 보상

max_mouth = 0
min_mouth = 350                     # 최대 mouth movement size in DXL dimension

# 머리 올릴 시: back 1.3, pitch 1.7, min 400
# 안 올릴 시: back 1.0, pitch 1.0, min 350


# motion generation
generate_head_motion = false        # 헤드 모션 온라인 생성 여부
wait_mode_rpy_ratio = 2.0           # 대기모드에서 최종 roll, pitch, yaw 값에 곱해지는 비율
control_motor_rpy_ratio = 2.0       # 온라인 생성 시 최종 roll, pitch, yaw 값에 곱해지는 비율